@use "iglu/spacing"
@use "iglu/font-size"
@use "head/settings/colors"
@use "head/tools/link"

.c-head-sidebar
  display: grid
  grid-template-columns: auto 1fr
  height: 100%
  align-items: start
  +font-size.default

  &__categories
    display: grid

  &--right
    .c-head-sidebar__categories
      order: 2

  &__secondary
    overflow: hidden
    background-color: rgba(255, 255, 255, 0.14) // Corrsponds to 10% change in underlying color
    height: 100%

  &__category
    display: grid
    justify-content: center
    grid-template-areas: "icon" "name"
    padding-top: 0.2em
    padding-bottom: 0.2em
    position: relative
    text-decoration: none
    +spacing.padding-horizontal--tiny

    @each $column in category-icon category-name
      &__#{$column}
        grid-area: #{$column}

    +link.states
      color: colors.$moon-gray

    &:hover
      color: colors.$white

    &.is-active
      color: colors.$white
      background-color: rgba(255, 255, 255, 0.14) // Corrsponds to 10% change in underlying color

    &-icon
      text-align: center
      +font-size.huge

    &-name
      +font-size.smaller

  &__links
    display: none

    &.is-active
      display: block

  &__link
    grid-column-gap: 0.6rem
    display: grid
    align-items: center
    grid-template-columns: auto 1fr
    grid-template-areas: "icon name"
    padding-right: 0.5rem
    padding-left: 0.5rem
    text-decoration: none
    height: 100%
    +spacing.padding-vertical--tiny

    @each $column in link-icon link-name
      &__#{$column}
        grid-area: #{$column}

    +link.states
      color: colors.$moon-gray

    &:hover
      color: colors.$white

    &:active
      color: colors.$white

    &.is-active
      color: colors.$white
      background-color: rgba(255, 255, 255, 0.14)

    &-name
      white-space: nowrap
      +font-size.small

    &-icon
      +font-size.larger

    &-separator
      +spacing.margin-top--smaller
